<% if current_user %>
  <%= button_to 'Add a comment', new_record_comment_path(@record, @comment), :class => "button", :method => :get  %>

 <% end %> 


<% @comments.each do |comment| %>
<p>
  <%= comment.user.username %> says...<br>
  <%= comment.body %>
  <br>
  <% if current_user.id == comment.user.id %>
     <button>
       <a href="#">Edit comment</a>
     </button>

     <button>
       <a href="#">Delete comment</a>
     </button>

  <% end %>
  <br>
</p> 
<% end %>