<div class="my-collections">
  <h2>My Collection</h2>
    <% current_user.records.each do |record| %>
      <p>
        <%= link_to record.album_title, record_path(record) %> by <i><%= record.artist %></i>
      </p>
    <% end %>

   <%= button_to 'add record', new_record_path,:class => "button", :method => :get  %>

</div>